<div class="login-wrapper">
  <form class="login" (ngSubmit)="register()" [formGroup]="registerForm">
    <section class="title">
      <h3 class="welcome">Welcome to</h3>
      My Video Website
      <h5 class="hint">Create one to sign in</h5>
    </section>
    <div class="login-group">
      <clr-input-container>
        <label class="clr-sr-only">Username</label>
        <input type="text" name="username" formControlName="username" clrInput placeholder="Username"/>
        <clr-control-error>Username cannot be less than 4 digits!</clr-control-error>
      </clr-input-container>
      <clr-input-container>
        <label class="clr-sr-only">Email</label>
        <input type="text" name="email" formControlName="email" clrInput placeholder="Email"/>
        <clr-control-error>Incorrect mailbox format</clr-control-error>
      </clr-input-container>
      <clr-password-container>
        <label class="clr-sr-only">Password</label>
        <input type="password" name="password" formControlName="password" clrPassword placeholder="Password"/>
        <clr-control-error>Password cannot be less than 6 digits!</clr-control-error>
      </clr-password-container>
      <clr-password-container>
        <label class="clr-sr-only">Confirm Password</label>
        <input type="password" name="confirmPassword" formControlName="confirm" clrPassword placeholder="Confirm Password"/>
        <clr-control-error>Confirm password cannot be less than 6 digits!</clr-control-error>
      </clr-password-container>
      <div class="error active" *ngIf="msg.error != ''">
        {{ msg.error }}
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
      <a routerLink="/login" class="signup">Already have a account?</a>
    </div>
  </form>
</div>

